{% if messages %}
    <ul class="messages">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message.tags }}: {{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}

<form method="POST">
{% csrf_token %}
{{ form.non_field_errors }}
    {% if form.get_user %}
        <div hidden class="form-row"> 
            {{ form.otp_device.errors }} Current Email Address: {{ form.otp_device }} 
        </div>
        <div class="form-row">
            <p>
                <label for="id_new_email">New email:</label>
                <input type="email" name="new_email" required id="id_new_email" value = "{{ request.user.temp_email }}">
                <input type="submit" name="otp_challenge" value="Send Token" />
            </p>
        </div>
    {% endif %}


    <div class="form-row"> {{ form.otp_token.errors }}{{ form.otp_token.label_tag }}{{ form.otp_token }} </div>
    
    <div class="submit-row">
        <p>
            <input type="submit" value="Verify"/>
        </p>
    </div>
</form>